.profile {
  width: 300px;
  margin: 0 auto;
  padding: 10px 10px 5px 10px;
  border: 1px solid #eee;
  background: white;
  overflow: hidden;
  text-align: center;
}

.item {
  display: block;
  width: 100%;
  padding: 5 px;
}

.name {
  font-size: 25px;
  font-weight: 700;
  color: #221010;
  margin-bottom: 12px;
}

.label {
  display: block;
  color: #489918;
}

.stats {
  display: flex;
  border: 1px solid #ddd;
}
